body {
    font-size: 1rem;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    color: #2d374b;
}

.button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-owner {
    font-size: .9375rem;
    font-weight: 700;
    color: #2d374b;
}