body {
    font-size: 1rem;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    color: #2d374b;
}

.blog-list-item p {
    padding: 5px 10px;
}

.blog-owner {
    font-size: .9375rem;
    font-weight: 700;
    color: #2d374b;
}

.btn-add-like {
    margin-left: 5px;
}

.delete-blog-btn {
    padding: 5px 10px;
    background-color: #314edd;
    color: #fff;
    border-color: #314edd;
    margin-left: 10px;
}